<div class="wrapper">
    <div class="category">
      <label class="dropdown">
        <select class="dropdownMenu">
          <option value="easy">Easy</option>
          <option value="medium">Medium</option>
          <option value="hard">Hard</option>
        </select>
      </label>
        <label class="dropdown">
            <select class="dropdownMenu" [(ngModel)]="category" (change)="selectCategory()">
              <option value="history">History</option>
              <option value="sports">Sports</option>
              <option value="animals">Animals</option>
              <option value="videoGames">Video Games</option>
            </select>
          </label>
    </div>
</div>
