.wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.dropdown {
    padding-right: 20px;
}

.dropdownMenu {
    border: 1px solid black;
    width: fit-content;
    height: fit-content;
    font-size: 2rem;
    font-family: sans-serif;
}

