<div class="container">
    <button 
    [style.border]="toggle ? (btnClicked ? 'default' : '5px solid blue') : '5px solid greenyellow'"
    (click)="resultBtn()"
    >{{answers[index]}}</button>

    <button
    [style.border]="toggle ? (btnClicked ? 'default' : '5px solid blue') : '5px solid red'"
    (click)="resultBtn()"
    (click)="incorrectScore()"
    >{{answers[index][0]}}</button>

    <button     
    [style.border]="toggle ? (btnClicked ? 'default' : '5px solid blue') : '5px solid red'"
    (click)="resultBtn()"
    (click)="incorrectScore()"
    >{{answers[index][1]}}</button>

    <button     
    [style.border]="toggle ? (btnClicked ? 'default' : '5px solid blue') : '5px solid red'"
    (click)="resultBtn()"
    (click)="incorrectScore()"
    >{{answers[index][2]}}</button>
<div class="btn">
    <button (click)="previousBtn()" id="previous">Previous</button>
    <button (click)="nextBtn()" id="next">Next</button>
</div>
</div>
