<body>
  <header *ngIf="quizSetup">
    <div>
      <h1>Select Category</h1>
      <button value="history" (click)="setCategory('23')">History</button>
      <button value="sports" (click)="setCategory('21')">Sports</button>
      <button value="animals" (click)="setCategory('27')">Animals</button>
      <button value="videoGames" (click)="setCategory('15')">
        Video Games
      </button>
    </div>
    <div>
      <h1>Select Difficulty</h1>
      <button value="easy" (click)="setDifficulty('easy')">Easy</button>
      <button value="medium" (click)="setDifficulty('medium')">Medium</button>
      <button value="hard" (click)="setDifficulty('hard')">Hard</button>
    </div>
    <button (click)="selectCategory(category, difficulty)" (click)="startQuiz()">Submit</button>
  </header>
  <main *ngIf="quizReady">
    <question [questions]="questions"></question>
    <answers [correctAnswers]="correctAnswers" [incorrectAnswers]="incorrectAnswers"></answers>
  </main>
</body>
